/*
    Barra de navegação vertical
*/
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

ul li a{
    text-indent: 40px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    height: 40px;
    width: 200px;
    display: block;
    font-weight: bold;
    line-height: 40px;
    background-image: url('../imagens/menu.png');
}

ul li a:hover{
    background-position: right bottom;
}