body{
    background-image: url('../imagens/fundo.png');
    flex-wrap: wrap;
    flex-direction: row;
}
p{
    text-align: justify;
}
.container{
    margin: 0 auto;
    width: 900px;
}

nav{
    background-color: rgb(194, 194, 194);
    width: 900px;
    height: 50px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #ddd;
}

#container{
    margin: auto;
    width: 900px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    align-items: center;
    justify-content: center;
}

#container h1, p{
    padding: 20px;
}

#container h1{
    color: #666;
}

#container footer{
    text-align: center;
    color: #666;
    display: block
}

article section{
    justify-content: center;
    align-items: center;
}

article section .fotos{
    margin: 0 auto;
    width: 70%;
}

article section .fotos img{
    border: 5px groove rgb(191, 188, 188);
}

article section p{
    justify-content: center;
}