hr{
  width: 90%;
  margin: 0 auto;

  background-color:#fdfdff2d;
  margin-bottom: 20px;
}

.navigator{
  display: flex;
  padding: 15px;
  margin-right: 70px;

  align-items: center;
  justify-content: center;
}

.navigator .logo{
  margin-left: 70px;
  justify-content: center;
  align-items: center;
}

.navigator .logo img{
  width: 30px;
}

.navigator .navigator-items{
  margin-left: auto;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.navigator .navigator-items img{
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.navigator .navigator-items button{
  border: none;
  cursor: pointer;

  font-size: 15px;
  color: #01a0ed;
}

.navigator .navigator-items button:hover{
  color: #51bff7;
}